<div class="row">
	<div class="col-md-9" ui-view></div>
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">Users</div>
			<div class="panel-body">
				<div class="list-group">
					<a ui-sref="admin.user-list" ui-sref-active="active" class="list-group-item">List User</a>
					<a class="list-group-item">Create User</a>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Groups</div>
			<div class="panel-body">
				<div class="list-group">
					<a ui-sref="admin.group-list" ui-sref-active="active" class="list-group-item">List Group</a>
					<a ui-sref="admin.group-create" ui-sref-active="active" class="list-group-item">Create Group</a>
				</div>
			</div>
		</div>
	</div>
</div>