<section>
	<form class="form-horizontal" role="form" ng-submit="submit()">
		<div class="form-group">
			<label class="col-sm-2 control-label">ID</label>
			<div class="col-sm-10">
				<span>{{user.Id}}</span>
			</div>
		</div>
		<div class="form-group">
			<label for="" class="col-sm-2 control-label">Email</label>
			<div class="col-sm-10">
				<span>{{user.Email}}</span>
			</div>
		</div>
		<div class="form-group">
			<label for="" class="col-sm-2 control-label">LastActivity</label>
			<div class="col-sm-10">
				<span>{{user.LastActivity}}</span>
			</div>
		</div>
		<div class="form-group">
			<label for="" class="col-sm-2 control-label">Approved</label>
			<div class="col-sm-10">
				<input type="checkbox" id="" ng-model="user.Approved" ng-change="updateApproval()" ng-disabled="updatingApproval">
			</div>
		</div>
		<div class="form-group">
			<label for="" class="col-sm-2 control-label">FirstName</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="" ng-model="user.Profile.FirstName">
			</div>
		</div>
		<div class="form-group">
			<label for="" class="col-sm-2 control-label">LastName</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="" ng-model="user.Profile.LastName">
			</div>
		</div>
		<div class="form-group">
			<label for="" class="col-sm-2 control-label">MiddleName</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="" ng-model="user.Profile.MiddleName">
			</div>
		</div>
		<div class="form-group">
			<label for="" class="col-sm-2 control-label">NickName</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="" ng-model="user.Profile.NickName">
			</div>
		</div>
		<div class="form-group">
			<label for="" class="col-sm-2 control-label">BirthDay</label>
			<div class="col-sm-10">
	            <p class="input-group">
					<input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="user.Profile.BirthDay" is-open="opened">
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
	            </p>
			</div>
		</div>
		<div class="form-group">
			<label for="" class="col-sm-2 control-label">JoinDay</label>
			<div class="col-sm-10">
				<span>{{user.Profile.JoinDay}}</span>
			</div>
		</div>
		<div class="form-group">
			<label for="" class="col-sm-2 control-label">Phone</label>
			<div class="col-sm-10">
				<ul ng-repeat="(key, phone) in user.Profile.Phones">
					<li>
						<input type="date" class="form-control" id="" ng-model="user.Profile.Phones[key]" value="phone">
					</li>
				</ul>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default">Submit</button>
			</div>
		</div>
	</form>
</section>