<tabset>
	<tab heading="Basic info">
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label class="col-sm-2 control-label">ID</label>
				<div class="col-sm-10">
					<span>{{user.Id}}</span>
				</div>
			</div>
			<div class="form-group">
				<label for="" class="col-sm-2 control-label">Email</label>
				<div class="col-sm-10">
					<span>{{user.Email}}</span>
				</div>
			</div>
			<div class="form-group">
				<label for="" class="col-sm-2 control-label">LastActivity</label>
				<div class="col-sm-10">
					<span>{{user.LastActivity}}</span>
				</div>
			</div>
			<div class="form-group">
				<label for="" class="col-sm-2 control-label">Approved</label>
				<div class="col-sm-10">
					<input type="checkbox" id="" ng-model="user.Approved" ng-change="updateApproval()" ng-disabled="updatingApproval">
				</div>
			</div>
			<div class="form-group">
				<label for="" class="col-sm-2 control-label">Groups</label>
				<div class="col-sm-10">
					<ul class="list-unstyled" ng-repeat="(key, group) in user.Groups">
						<li>
							<span>{{user.Groups[key].Name}}</span>
							<button class="btn btn-link" type="button" ng-click="removeGroup(key)">Remove</button>
						</li>
					</ul>
				</div>
			</div>
			<div class="form-group">
				<!-- add new group control -->
				<label for="" class="col-sm-2 control-label"></label>
				<div class="col-sm-10">			
					<ul class="list-unstyled">
						<li>
							<div class="input-group">
								<select ng-model="selected.Group" ng-options="group.Name for group in groups" class="form-control">
									<option value="">--</option>
								</select>
								<span class="input-group-btn">
									<button class="btn btn-default" type="button" ng-click="addGroup()">Add</button>
								</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</form>
	</tab>
	<tab heading="Profile">
		<div ng-include src="'partials/admin/users.profile.html'"></div>
	</tab>
</tabset>